@import url("_variables.css");
@import url("_reset.css");

body {
    background-color: var(--main-bg-color);
}

.nickname{
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
.nickname input {
    padding: 0rem;
}
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    color: white;
}

button {
    color: white;
}

.messages > li:nth-child(2n + 1) {
    background-color: var(--message-bg-color);
    color: white;
    padding: 1rem;
}

.messages > li {
    background-color: #3f4041;
    color: white;
    padding: 1rem;
}


.container {
    display: flex;
    height: 90vh;
  }
  
  .left-panel {
    width: 200px;
    background-color: #f0f0f0;
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  .right-content {
    flex-grow: 1;
    background-color: #e0e0e0;
    transition: margin-left 0.3s ease;
    padding: 20px;
    width: 100%;
  }

  .left-panel:hover {
    cursor: pointer;
  }
  
  .expanded {
    width: 10px;
  }
  
  .pushed {
    margin-left: 300px;
  }

  .rigth-panel {
    width: 100%;
  }


  .nicknames li {
    background-color: white;
    color: black;
    padding: 1rem;
    border-bottom: 1px solid gray;
    color: green;
  }

 .offline {
  color: red !important;
 }

.typing-message {
  color: white;;
}