@import url("_variables.css");
@import url("_reset.css");


.nickname{
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
.nickname input {
    padding: 0rem;
}
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}
